* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.light {
  --text-clr: hsl(200, 15%, 8%);
  --bg-clr: hsl(0, 0%, 98%);
  --text-input: hsl(0, 0%, 52%);
  --bg-elements: #fff;
}
.dark {
  --text-clr: #fff;
  --bg-clr: hsl(207, 26%, 17%);
  --text-input: #fff;
  --bg-elements: hsl(209, 23%, 22%);
}

body {
  background-color: var(--bg-clr);
  color: var(--text-clr);
}

.navbar {
  background-color: var(--bg-elements);
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.127);
  margin-bottom: 30px;
}

.navbar-container {
  display: flex;
  max-width: 1470px;
  margin: 0px auto;
  justify-content: space-between;
  padding: 1% 0%;
  margin-bottom: 5px;
}

.selectSection {
  display: flex;
  max-width: 1470px;
  margin: 0px auto;
  justify-content: space-between;
  padding: 1% 0%;
  margin-bottom: 5px;
}

#countrySearch {
  padding: 16px 20px;
  background-color: var(--bg-elements);
  color: var(--text-clr);
  width: 200px;
  border: none;
  outline: none;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.075);
}

#population,
#area,
#continents,
#subregion {
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.075);
  border: none;
  outline: none;
  background-color: var(--bg-elements);
  color: var(--text-clr);
}

.displayCountries {
  display: flex;
  flex-wrap: wrap;
  max-width: 1470px;
  margin: 0px auto;
  justify-content: space-between;
}

.add-loader {
  max-width: 1470px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 250px;
}

.filterd-data-not-found {
  text-align: center;
  background-color: var(--bg-elements);
  color: var(--text-clr);
  padding: 20px;
}

.countryCardImage {
  height: 170px;
  width: 250px;
}

.countryCard {
  background-color: var(--bg-elements);
  line-height: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.075);
  width: 250px;
  height: 360px;
}

.country-name {
  margin-top: 20px;
  font-size: 19px;
  margin-bottom: 10px;
}

.error {
  display: flex;
  justify-content: center;
}

Link {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: var(--text-clr);
}

.back-btn {
  max-width: 1470px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.back-btn button {
  border: none;
  padding: 10px 0px;
  width: 100px;
  margin: 50px 0px;
  color: var(--text-clr);
  background-color: var(--bg-elements);
  cursor: pointer;
}

.detail {
  display: grid;
  max-width: 1470px;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5px;
  height: 250px;
}

.country-detail-image {
  height: 100%;
}
.displayCountryDetails {
  display: flex;
  flex-direction: column;
  line-height: 32px;
  justify-content: space-evenly;
}

.inner-div {
  display: flex;
  justify-content: space-between;
}
.borders {
  display: flex;
  flex-wrap: wrap;
}

.borders button {
  border: none;
  margin-left: 20px;
  border: 1px solid #333;
  padding: 5px 10px;
}

.error-page {
  max-width: 1470px;
  margin: 0 auto;
  text-align: center;
  margin-top: 250px;
}

.error-btn {
  margin-top: 20px;
  padding: 10px 0px;
  color: white;
  background-color: #333;
  cursor: pointer;
}

.dark-mode {
  width: 15px;
}

.dark-btn {
  border: none;
  font-size: 17px;
  padding: 0px 7px;
  cursor: pointer;
  background-color: var(--bg-elements);
  color: var(--text-clr);
}
