* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #fafafa;
}

.navbar {
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.127);
  margin-bottom: 30px;
}

.navbar-container {
  display: flex;
  max-width: 1470px;
  margin: 0px auto;
  justify-content: space-between;
  padding: 1% 0%;
  margin-bottom: 5px;
  
}

.selectSection {
  display: flex;
  max-width: 1470px;
  margin: 0px auto;
  justify-content: space-between;
  padding: 1% 0%;
  margin-bottom: 5px;
}

#countrySearch {
  padding: 16px 20px;
  /* width: 100%; */
  width: 200px;
  border: none;
  outline: none;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.075);
}

#population, #area, #continents,#subregion {
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.075);
  border: none;
  outline: none;
}

.displayCountries {
  display: flex;
  flex-wrap: wrap;
  max-width: 1470px;
  margin: 0px auto;
  justify-content: space-between;
}

.countryCardImage {
  height: 170px;
  width: 250px;
}

.countryCard {
  line-height: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.075);
  width: 250px;
}

.error {
  display: flex;
  justify-content: center;
}

Link {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}

.back-btn {
  max-width: 1470px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.back-btn button {
  border: none;
  padding: 10px 0px;
  width: 80px;
  border: 1px solid #333;
  margin: 50px 0px;
}

.detail {
  display: grid;
  max-width: 1470px;
  margin: 0 auto;
  grid-template-columns: 30% 70%;
  height: 250px;
}

.country-detail-image {
  height: 100%;
}
.displayCountryDetails {
  display: flex;
  flex-direction: column;
  line-height: 32px;
  justify-content: space-evenly;
}

.inner-div {
  display: flex;
  justify-content: space-between;
}
.borders {
  display: flex;
  flex-wrap: wrap;
}

.borders button {
  border: none;
  margin-left: 20px;
  border: 1px solid #333;
  padding: 5px 10px;
}